.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

p {
    padding: 20px;
}

comp-click,
comp-mouse,
comp-timer,
comp-left-top,
comp-middle-top,
comp-right-top {
    display: block;
    background: white;
}